name: CI

on:
  workflow_dispatch:
  push:
    branches: 
      - master

jobs:

  build:

    runs-on: ubuntu-18.04


    steps:

    - uses: actions/checkout@v2
      
    - name: Use Java8
      uses: actions/setup-java@v1
      with:
          java-version: 1.8

    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

    - name: Build debug apk
      run: chmod a+x gradlew && ./gradlew clean assembleDebug

    - name: Create release and upload apk
      uses: underwindfall/create-release-with-debugapk@v2.0.0
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: 2.0.3 #${{ steps.get_version.outputs.VERSION }}
        asset_path: app/build/outputs/apk/debug/app-debug.apk
        asset_name: QZCompanionNordictrackTreadmill.apk
        asset_content_type: application/zip
